.confirm {
    margin: 0 auto;
    padding: 20px;
    max-width: 1230px;
}

.confirm-title {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

.form {
    width: 80%;
    margin: 0 auto;
}

.confirm-table {
    border: 1px solid #ddd;
}

.confirm-table__inner {
    width: 100%;
    border-collapse: collapse;
}

.confirm-table__row {
    border-bottom: 1px solid #ccc;
}

.confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    font-weight: bold;
}

.confirm-table__text {
    width: 70%;
    padding: 15px;
}

.confirm-table__text input[type="text"],
.confirm-table__text input[type="email"],
.confirm-table__text input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: none;
}

.form-btn {
    text-align: center;
    margin-top: 30px;
}

.form-btn__submit {
    border-radius: 6px;
    margin: 32px auto 0;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 200px;
    display: block;
    background: black;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}